#Damier
{
    height: 500px;
    width: 500px;
    border: 6px solid grey;
    margin: auto;
    border-collapse: collapse;
    display: block;
}
.black
{
    height: 100px;
    width: 100px;
    display: table-cell;
    background-color: black;
}
.white
{
    height: 100px;
    width: 100px;
    display: table-cell;
    background-color: white;
}